.purchaseText {
    z-index: 999;
    display: block;
    padding: 5px 0px;
}

.hidetext {
    display: none;
}

/*.minpurchaseText {
    z-index: 999;
    bottom: -15px;
	display: block;
	width: 100%;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.left-block .minpurchaseText {
    display: none;
}
*/